---

---
<footer class="border-t bg-card/70 mt-12 py-12 shadow-inner">

    <div class="mx-auto max-w-7xl px-4 grid grid-cols-1 md:grid-cols-3 gap-10">
        <div class="flex flex-col items-start gap-4">
            <a href="https://judaicadhpenn.org/" class="mb-2">
                <img
                        src="https://www.kaplancollection.org/_astro/Judaica%20Digital%20Humanities%20Logo%202020_RGB.BzHwUiEX.png"
                        alt="Judaica Digital Humanities"
                        class="h-16 w-auto object-contain"
                        loading="lazy"
                />
            </a>

        </div>
        <div>
            <h4 class="text-md font-semibold font-serif text-primary ">Gershwind-Bennett Isaac Leeser Digital Repository</h4>
            <p class="text-sm text-muted-foreground font-sans font-extralight max-w-xs leading-relaxed mb-4">
                Digitizing and preserving the correspondence and writings of Rev. Isaac Leeser.
            </p>
            <ul class="space-y-3">
                <li><a href="#" class=" font-sans text-sm transition text-muted-foreground hover:underline  hover:text-accent">Browse Collection</a></li>
                <li><a href="#" class="transition  text-sm text-muted-foreground hover:underline hover:text-accent">Map</a></li>
                <li><a href="#" class="transition text-sm text-muted-foreground hover:underline hover:text-accent">About</a></li>
            </ul>
        </div>
        <div>
            <h4 class="text-base font-semibold font-serif text-primary mb-4">Jesselson-Kaplan Atlantic Genizah Project</h4>
            <p class="text-sm text-muted-foreground font-sans font-extralight max-w-xs leading-relaxed mb-4">
                A comprehensive initiative to digitize and preserve Jewish historical documents and manuscripts from across the Atlantic world.
            </p>
            <ul class="space-y-3">
                <li><a href="#" class="transition text-sm text-muted-foreground hover:underline hover:text-accent">Resources</a></li>
                <li><a href="#" class="transition text-sm text-muted-foreground hover:underline hover:text-accent">About the Genizah Project</a></li>
            </ul>
        </div>
    </div>

</footer>
