---
// src/components/Partners.astro
const partners = [
    { name: "AJHS", src: "/logos/AJHS_Logo.png", url: "https://ajhs.org" },
    { name: "Penn Libraries", src: "/logos/Penn_Logo.png", url: "https://library.upenn.edu" },
    { name: "JTS", src: "/logos/JTS_Logo.svg", url: "https://www.jtsa.edu" },
    { name: "Hebrew Union College", src: "/logos/AJAHUC_Logo.jpg", url: "https://huc.edu" },
    { name: "University of Southampton", src: "/logos/University_of_Southampton_Logo.png", url: "https://www.southampton.ac.uk/" },
];
---

<section class="py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h4 class="text-3xl font-serif text-accent-foreground font-light text-center mb-14">Project Partners</h4>
        <div class="flex flex-wrap justify-center gap-8 items-center">
            {partners.map((partner) => (
                    <a
                            href={partner.url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="flex justify-center items-center hover:scale-105 transition-transform"
                            aria-label={partner.name}
                    >
                        <img
                                src={partner.src}
                                alt={`${partner.name} Logo`}
                                class="h-10 max-h-12 object-contain"
                                loading="lazy"
                        />
                    </a>
            ))}
        </div>
    </div>
</section>