---
import '../../src/styles/global.css';
import React from "react";

import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content="Astro" />
    <title>Gershwind-Bennett Isaac Leeser Digital Repository</title>
</head>
<body class="min-h-screen bg-paper text-ink font-body">
<NavBar />
<main class="relative flex-1 min-h-[60vh] z-10">
    <slot />
</main>
<Footer />
</body>
</html>