---
import '../../src/styles/global.css';
import React from "react";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
    <section class="relative w-full">
        <div class="mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8">
            <slot />
        </div>
    </section>
</BaseLayout>